.site-content {
  background-color: black;
}
.logo-img {
  width: 60px;
}

.img-header {
  transform: rotate();
  width: 100%;
  padding-right: 22%;
  margin-right: 0px;
}

.main-header {
  background-color: black;
}
